* {
    margin: 0;
    padding: 0;
    border: 0;   
    
}
.container {
    height: 36rem;
    width: 28rem;
    margin: 2rem;
    padding: 1rem;
    text-align: center;
    background-image: linear-gradient(45deg, #000, #038);
    border-radius: 2rem;
    box-shadow: 1px 1px 0.5rem #000;
}
#textbox {
    height: 1rem;
    width: 75%;
    background-color: #fff;
    border-radius: 2rem;
    margin: 1rem auto;
    border: 1px solid #000;
    text-align: right;
    padding: 1rem;
    font-size: 2rem;
    box-shadow: 1px 1px 0.5rem #000;
}
#buttons button[class*="btn"] {
    height: 4rem;
    width: 18%;
    border-radius: 1rem;
    margin: 0.5rem 0.25rem;
    padding: 1rem;
    font-size: 2rem;
    background-image: linear-gradient(45deg, #c80, #fc3);
    color: #fff;
    box-shadow: 1px 1px 0.5rem #000;
}
#buttons button[class*="btn"]:hover {
    cursor: pointer;
    background-image: linear-gradient(45deg, #fc3, #c80);
}
#numbers button[class*="btn"], #Equal #btn0 {
    height: 4rem;
    width: 18%;
    border-radius: 1rem;
    margin: 0.5rem 0.25rem;
    padding: 1rem;
    font-size: 2rem;
    background-image: linear-gradient(45deg, #080, #3c3);
    color: #fff;
    box-shadow: 1px 1px 0.5rem #000;
}
#numbers button[class*="btn"]:hover {
    cursor: pointer;
    background-image: linear-gradient(45deg, #3c3, #080);
}
#numbers button[id*="symbols"] {
    height: 4rem;
    width: 18%;
    border-radius: 1rem;
    margin: 0.5rem 0.25rem;
    padding: 1rem;
    font-size: 2rem;
    background-image: linear-gradient(45deg, #800, #f33);
    color: #fff;
}

#numbers button[id*="symbols"]:hover {
    cursor: pointer;
    background-image: linear-gradient(45deg, #f33, #800);
}

#numbers #btnEqual {
    height: 4rem;
    width: 60%;
    border-radius: 1rem;
    margin: 0.5rem 0.25rem;
    padding: 1rem;
    font-size: 2rem;
    background-image: linear-gradient(45deg, #038, #0cf);
    color: #fff;
}
#numbers #btnEqual:hover {
    cursor: pointer;
    background-image: linear-gradient(45deg, #0cf, #038);
}